# Dependencies
node_modules

# Build outputs
dist
*.js.map
cdk.out

# Module Federation temp
**/.__mf__temp

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local
